#body{
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
}

#content{
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eaeaea;
  background-image: url("beautiful.jpg");
}

#menu{
  position: relative;
  background: black;
  width: 100%;
  height: 50px;
}

#menu a{
  position: relative;
  color: white;
  text-decoration: none;
  margin: 18px;
}

#menulinks{
  position: relative;
  margin-left: 45px;
  padding-top:12px;
  
}

#header{
  position: relative;
  background: #0099FF;
  width: 100%;
  height: 150px;
  padding-top: 1px;
  opacity: 0.75;
}

#header h1{
  margin-left: 60px;
  font-size: 45px;
  margin-top: 15px;
}

#header h2{
  margin-left: 60px;
  font-size: 25px;
}

#maincontainer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 960px;
  height: 650px;
  background: white;
  padding-top:10px;
  border: 1px;
  border-style: solid;
  opacity: 0.75;
}

#maincontainer p{
  text-align: center;
}

#footer{
  position: relative;
  width: 100%;
  height: 50px;
  background: #0099FF;
  opacity: 0.75;
}

#footer p{
  padding-top:12px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  font-size: 18px;
}