h1{
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}

p{
  color: #ffffff;
}

#wrapper{
}

#maincontainer{
  width: 960px;
  height: auto;
  background: #000000;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

#nav{
}

#menu{
  float: left;
  width: 100%;
  position: relative;
  border-bottom: 4px solid #000;
}

#menu ul{
  position: relative;
  clear: left;
  list-style-type: none;
  left: 50%;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
}

#menu ul li{
  position: relative;
  display: block;
  margin: 0;
  right: 50%;
  float: left;
}

#menu ul li a{
  display: block;
  padding: 3px 10px;
  margin: 0 0 0 1px;
  font-family: Verdana;
  background:#ddd;
  color:#000;
  text-decoration: none;
}

#menu ul li a.active,
#menu ul li a.active:hover{
   color:#fff;
   background:#000;
   font-weight:bold;
}
