h1{
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}

p{
  
}

ul{
  margin-left: auto;
  margin-right: auto;
}

li{
  display: inline;
  margin: 20px;
}

#wrapper{
}

#maincontainer{
}

#nav{
}

#menu{
  width: 100%;
  height: 50px;
  background-color: #FF541F;
  list-style-type: none;
}

